.form-submit{
    margin-left: 350px;
    margin-top: 200px;
}


.submit{
    display: block;
    margin-top:15px;
    width: 350px;
    padding: 5px;
    border-radius: 5px;
}

.required{
    color: red;
}

